{
  "env": {
    "browser": true,
    "es2021": true,
    "commonjs": true,
    "node": true
  },

  "extends": [
    "airbnb-base"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "no-underscore-dangle": [2, {
      "allow": ["_id"]
    }]
  }
}